@import url(//fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap);
@import url(//fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);

// function
@function sz($int) {
    // @return ($int / 10) + rem;
    @return ($int) + px;
}

// color
$color_black: rgba(19, 21, 35, 1);
$color_blue: rgba(52, 134, 218, 1);
$color_pink: rgba(229, 0, 110, 1);
$color_red: rgb(256, 96, 96);
$color_border_gray: rgb(195, 200, 200);
$color_text: #4d534d;
$color_text_gray: rgb(160, 166, 166);
$color_light_gray: rgba(236, 240, 243, 1);
$color_white: rgba(255, 255, 255, 1);
$color_green: rgb(13, 190, 93);
$color_base: #f0f0f0;
$color_alert: #c9374a;

// breakpoint
$bp_1200: 1200px;
$bp_960: 960px;
$bp_820: 820px;
$bp_768: 768px;
$bp_600: 600px;
$bp_540: 540px;

// box-sizing
* {
    box-sizing: border-box;
}

// element
html {
    font-size: 62.5%;
    padding: 0;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
        font-size: 100%;
    }
}

body {
    font-family: "Noto Sans JP", sans-serif;
    background-color: $color_light_gray;
    color: $color_black;
    padding: 0;
    margin: 0;
    font-size: sz(16);
    letter-spacing: sz(1);
    line-height: 160%;
}

.sp {
    @media screen and (min-width: 541px) {
        display: none;
    }
}

.pc {
    @media screen and (max-width: $bp_540) {
        display: none;
    }
}

h1 {
    padding: 0;
    margin: 0;
}

h2 {
    padding: 0;
    margin: 0;
    font-size: sz(20);
}

h2,
h3 {
    .texticon {
        position: relative;
        top: -2px;
    }
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: $color_blue;
}

p {
    margin: 1em 0 0 0;

    &:nth-child(1) {
        margin-top: 0;
    }
}

hr {
    border: none;
    border-top: 1px solid $color_light_gray;
}

ruby {
    font-size: sz(12);
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="password"],
select,
textarea {
    font-size: sz(16);
    border-radius: sz(4);
    border: solid sz(1) $color_border_gray;

    @media screen and (max-width: $bp_540) {
        width: 78%;
    }

    &.digits-2 {
        width: 4em;
    }
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="password"],
select {
    height: sz(44);
    line-height: sz(44);
    padding: 0 sz(8);

    &.wfull {
        width: 100%;
    }
}

textarea {
    padding: sz(8);
    width: 100%;

    @media screen and (max-width: $bp_540) {
        width: 100%;
    }
}

button.add,
button.remove {
    background: none;
    border: none;
    padding: 4px 4px 4px 24px;
    vertical-align: middle;
    align-items: center;
    white-space: nowrap;
    position: relative;

    span {
        font-size: sz(16);
        margin-right: sz(2);
        position: absolute;
        top: 50%;
        left: sz(4);
        margin-top: -8px;
    }
}

video {
    width: 100%;
}

// margin-box
$elem: "margin-box";
.#{$elem} {
    margin-top: sz(16);
}

// button-filter
$elem: "button-filter";
.#{$elem} {
    display: flex;
    justify-content: space-between;
    padding: 0 sz(16);
    margin-top: sz(16);
    flex-wrap: wrap;

    .have-menu {
        margin: 0;
    }
}

// icon
$elem: "icon";
.#{$elem} {
    //width: sz(16);
    height: auto;
}

// texticon
$elem: "texticon";
.#{$elem} {
    display: inline-block;
    border: solid sz(1) $color_black;
    font-size: sz(12);
    line-height: sz(12);
    padding: sz(4) sz(4);
    background-color: $color_red;
    border-radius: sz(4);
    margin-left: sz(4);
    border-color: $color_red;
    color: $color_white;
    text-align: center;

    &:nth-child(1) {
        margin-left: 0;
    }

    &.type--done {
        border-color: $color_blue;
        background-color: $color_white;
        color: $color_blue;
    }

    &.type--draft {
        border-color: $color_border_gray;
        background-color: $color_border_gray;
    }

    &.wfull {
        width: 100%;
    }
}

// button
$elem: "button";
.#{$elem} {
    display: inline-flex;
    padding: 0 sz(24);
    align-items: center;
    text-decoration: none;
    color: $color_black;
    background-color: $color_white;
    border-radius: sz(8);
    position: relative;
    height: sz(44);
    font-size: sz(16);
    line-height: sz(44);

    @media screen and (max-width: $bp_540) {
        padding: 0 sz(8);
    }

    &:disabled {
        opacity: 0.3;
    }

    .material-symbols-outlined {
        margin-right: sz(8);
    }

    &.icon--top {
        flex-direction: column;

        .material-symbols-outlined {
            margin: 0 0 sz(4) 0;
        }
    }

    &.icon--right {
        flex-direction: row-reverse;

        .material-symbols-outlined {
            margin: 0 0 0 sz(8);
        }
    }

    &.icon--bottom {
        flex-direction: column-reverse;

        .material-symbols-outlined {
            margin: sz(4) 0 0 0;
        }
    }

    &.icon--left {
        flex-direction: row;

        .material-symbols-outlined {
            margin: 0 sz(8) 0 0;
        }
    }

    &.corner-rounded {
        border-radius: sz(1000);
    }

    &.type--delete {
        border: solid sz(1) $color_red;
        color: $color_red;
        padding: sz(8) sz(16);
    }

    &.type--edit {
        border: solid sz(1) $color_blue;
        background-color: $color_blue;
        color: $color_white;
        padding: sz(8) sz(16);
    }

    &.type--first {
        color: $color_white;
        border: solid 1px $color_blue;
        background-color: $color_blue;
    }

    &.type--second {
        border: solid 1px $color_light_gray;
        background-color: $color_light_gray;
    }

    &.type--third {
        border: solid 1px $color_border_gray;
        background-color: $color_white;
    }

    &.type--current {
        border: solid 1px $color_blue;
        background-color: $color_white;
        color: $color_blue;

        .material-symbols-outlined {
            font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
        }
    }

    &.type--done {
        border: solid 1px $color_light_gray;
        background-color: $color_light_gray;
        color: $color_blue;
    }

    &.type--nobg {
        background-color: transparent;
        border: none;
    }

    &.icononly {
        padding: 0;
        width: sz(44);

        .material-symbols-outlined {
            margin-right: auto;
            margin-left: auto;
        }
    }

    &-contaier {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;

        > * {
            margin-left: sz(16);

            @media screen and (max-width: $bp_540) {
                margin-left: sz(8);
            }

            &:nth-child(1) {
                margin-left: 0;
            }
        }
    }

    &-like {
        border-radius: sz(44);
        padding-right: sz(16);
        padding-left: sz(16);

        span {
            margin-right: sz(4);
            font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
        }
    }

    &-edit {
        border-radius: sz(44);
        padding-right: sz(16);
        padding-left: sz(16);

        span {
            margin-right: sz(4);
            font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
        }
    }

    &-next {
        border-radius: sz(44);
        padding-right: 0;
        padding-left: 0;
        width: sz(44);

        span {
            margin-right: auto;
            margin-left: auto;
            font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
        }
    }

    &-comment {
        border-radius: sz(44);
        padding-right: sz(16);
        padding-left: sz(16);

        span {
            margin-right: sz(4);
            font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
        }
    }

    &-heading {
        font-size: sz(20);
        font-weight: bold;
        line-height: sz(20);
        height: sz(44);
        background-color: transparent;
    }
}

// listbutton
$elem: "listbutton";
.#{$elem} {
    display: flex;
    padding: sz(12) sz(24);
    align-items: center;
    text-decoration: none;
    color: $color_black;
    position: relative;
    border-bottom: solid sz(1) $color_black;

    &::before,
    &::after {
        position: absolute;
        content: "";
    }

    &:hover {
        background-color: $color_blue;
        color: rgba(255, 255, 255, 1);
    }

    .icon {
        margin-right: sz(8);
    }

    &.icon--top {
        flex-direction: column;

        .icon {
            margin: 0 0 sz(4) 0;
        }
    }

    &.icon--right {
        flex-direction: row-reverse;

        .icon {
            margin: 0 0 0 sz(8);
        }
    }

    &.icon--bottom {
        flex-direction: column-reverse;

        .icon {
            margin: sz(4) 0 0 0;
        }
    }

    &.icon--left {
        flex-direction: row;

        .icon {
            margin: 0 sz(8) 0 0;
        }
    }

    &.arrow--right::after {
        right: sz(16);
        width: sz(6);
        height: sz(6);
        border-top: 2px solid $color_black;
        border-right: 2px solid $color_black;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &-contaier {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
    }
}

// textbutton
$elem: "textbutton";
.#{$elem} {
    display: flex;
    text-decoration: none;
    color: $color_black;

    .icon {
        margin-right: sz(8);
    }

    &.icon--top {
        flex-direction: column;

        .icon {
            margin: 0 0 sz(4) 0;
        }
    }

    &.icon--right {
        flex-direction: row-reverse;

        .icon {
            margin: 0 0 0 sz(8);
        }
    }

    &.icon--bottom {
        flex-direction: column-reverse;

        .icon {
            margin: sz(4) 0 0 0;
        }
    }

    &.icon--left {
        flex-direction: row;

        .icon {
            margin: 0 sz(8) 0 0;
        }
    }
}
$elem: "button.textbutton";
#{$elem} {
    background-color: transparent;
    border: none;
    padding-left: 0;
}

// tagbutton
$elem: "tagbutton";
.#{$elem} {
    display: inline-block;
    border: solid sz(1) $color_light_gray;
    background-color: $color_light_gray;
    height: sz(44);
    line-height: sz(14);
    padding: sz(13) sz(52) 0 sz(16);
    margin-top: sz(8);
    border-radius: sz(22);
    position: relative;
    font-size: sz(14);
    vertical-align: middle;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: sz(44);
        height: sz(44);
        line-height: sz(44);
        right: 0;
        top: 50%;
        margin-top: -22px;
        background-color: transparent;
        border: none;

        span {
            font-size: sz(18);
        }
    }

    &-noclose {
        padding-right: sz(16);
    }
}

// avator-icon
$elem: "avator-icon";
.#{$elem} {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $color_blue;
    background-size: cover;
    border-radius: 50%;
    width: sz(44);
    height: sz(44);

    &.large {
        width: sz(96);
        height: sz(96);

        @media screen and (max-width: $bp_540) {
            width: sz(44);
            height: sz(44);
        }
    }

    &.small {
        width: sz(44);
        height: sz(44);

        @media screen and (max-width: $bp_540) {
            width: sz(32);
            height: sz(32);
        }
    }

    &-box {
        display: flex;
        flex-wrap: wrap;
        margin-top: sz(4);
        flex-shrink: 0;
        align-items: center;

        &.nowrap {
            flex-wrap: nowrap;
            white-space: nowrap;

            > * {
                flex-shrink: 0;
            }
        }

        > * {
            display: flex;
            align-items: center;
            margin-right: sz(8);

            > *:nth-child(1) {
                margin-right: sz(8);
            }
        }
    }
}

.#{$elem} + * {
    margin-top: sz(8);

    @media screen and (max-width: $bp_540) {
        padding-right: 0;
        padding-left: 0;
        font-size: sz(10);
        margin-left: 0;
    }
}

// name-set
$elem: "name";
.#{$elem} {
    &-set {
        display: block;

        > * {
            display: block;
        }
    }

    &-nick {
        font-size: sz(14);
    }
}

// site-header
$elem: "site-header";
##{$elem} {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: sz(8) sz(16);
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $color_light_gray;
    z-index: 2;

    .#{$elem}-name {
        display: flex;
        align-items: center;
        text-decoration: none;

        .avator-icon {
            margin-right: sz(8);
        }

        .text {
            font-size: sz(18);
            margin-top: 0;
        }
    }
}

// drawer
$elem: "drawer";
##{$elem} {
    label {
        cursor: pointer;

        > span {
            width: sz(44);
            height: sz(44);
            font-size: sz(44);
        }
    }

    &-content {
        display: none;
        width: 100%;
        padding: sz(16);
        background-color: $color_light_gray;
        position: absolute;
        top: sz(60);
        left: 0;
        width: 100%;

        .button-contaier {
            flex-wrap: wrap;
            justify-content: space-between;

            > * {
                margin-left: 0;
            }

            .button {
                margin-top: sz(16);
                width: calc(25% - #{sz(12)});

                @media screen and (max-width: $bp_820) {
                    width: calc(50% - #{sz(8)});
                    padding: 0 sz(12);
                }
            }

            .wfull {
                width: 100%;
            }
        }

        .listbutton-contaier {
            flex-wrap: wrap;
            justify-content: space-between;
            margin-left: -8px;
            margin-right: -8px;

            @media screen and (max-width: $bp_768) {
                margin-right: 0;
                margin-left: 0;
            }

            &::after {
                content: "";
                display: block;

                @media screen and (max-width: $bp_1200) {
                    margin: 0 sz(8);
                    width: calc(33.33% - #{sz(16)});
                }
            }

            & > * {
                margin: 0 sz(8);

                @media screen and (max-width: $bp_768) {
                    margin-right: 0;
                    margin-left: 0;
                }
            }

            .listbutton {
                margin-top: sz(8);
                flex: 1;

                @media screen and (max-width: $bp_1200) {
                    flex: none;
                    width: calc(33.33% - #{sz(16)});
                }

                @media screen and (max-width: $bp_820) {
                    padding-right: sz(16);
                    padding-left: sz(16);
                }

                @media screen and (max-width: $bp_768) {
                    margin-top: 0;
                    width: 100%;
                }
            }

            .wfull {
                width: 100%;
            }
        }

        .#{$elem}-footer-menu {
            display: flex;
            justify-content: flex-end;
            margin-top: sz(16);

            .textbutton {
                font-size: sz(14);
                margin-left: sz(24);

                &:nth-child(1) {
                    margin: 0;
                }
            }
        }
    }

    &-switch + label {
        > *:nth-child(2) {
            display: none;
        }
    }

    &-switch:checked + label {
        > *:nth-child(1) {
            display: none;
        }
        > *:nth-child(2) {
            display: block;
        }
    }

    &-switch:checked + label + &-content {
        display: block;
    }
}

// site-body
$elem: "site-body";
##{$elem} {
    padding: sz(60) 0 0 0;
}

// breadcrumbs
$elem: "breadcrumbs";
##{$elem} {
    padding: sz(8) sz(16);
    background-color: $color_white;

    > ul {
        display: flex;

        > li {
            @media screen and (max-width: $bp_540) {
                font-size: sz(12);
            }

            &::before {
                content: ">";
                display: inline-block;
                margin: 0 sz(8);

                @media screen and (max-width: $bp_540) {
                    font-size: sz(12);
                }
            }

            &:nth-child(1)::before {
                display: none;
            }
        }
    }
}

// screen-heading
$elem: "screen-heading";
.#{$elem} {
    padding: sz(16) sz(16) sz(0) sz(16);
    font-size: sz(20);

    &.hasbutton {
        padding-right: 0;
        padding-left: 0;

        & + .flat-content {
            margin-top: sz(8);
        }
    }
}

// flat-content
$elem: "flat-content";
.#{$elem} {
    background-color: $color_white;
    padding: sz(16);
    margin-top: sz(16);

    section,
    .section {
        margin-top: sz(16);
        padding-top: sz(16);
        border-top: solid sz(1) $color_border_gray;

        &:first-child {
            margin-top: 0;
            padding-top: 0;
            border-top: none;
        }

        .haslist {
            padding-top: sz(12);
        }
    }

    .card-content {
        padding-right: 0;
        padding-left: 0;
    }

    &-heading {
        margin-bottom: 0;
        font-size: sz(16);
        padding-right: sz(8);
        padding-left: sz(8);

        @media screen and (max-width: $bp_540) {
            padding-right: 0;
            padding-left: 0;
        }

        &:first-child {
            margin-top: 0;
        }
    }
}

// card-content
$elem: "card-content";
.#{$elem} {
    padding: sz(16);
}

// card
$elem: "card";
.#{$elem} {
    background-color: $color_white;
    padding: sz(16);
    border-radius: sz(8);
    box-shadow: 0 sz(2) sz(8) rgba(0, 0, 0, 0.15);

    &:nth-child(n + 2) {
        margin-top: sz(16);
    }

    &-title {
        font-size: sz(20);
        margin: 0;
    }

    &-title + .tagbox {
        margin-top: sz(8);
    }

    &-headline {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        > * {
            display: flex;

            &:nth-child(2) {
                padding-left: sz(16);

                > * {
                    margin-left: sz(8);

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    &-header,
    &-footer {
        display: flex;
        justify-content: space-between;

        > * {
            display: flex;
            flex-wrap: wrap;
        }

        &-left {
            > * {
                margin-right: sz(8);
            }
        }

        &-right {
            > * {
                margin-left: sz(8);
            }
            justify-content: flex-end;
        }

        &-title {
            font-weight: bold;
        }
    }

    &-header {
        margin-bottom: sz(16);
    }
}

// name-stamp
$elem: "name-stamp";
.#{$elem} {
    display: flex;
    flex-wrap: wrap;
    margin-top: sz(8);

    > * {
        font-size: sz(14);
        margin-right: sz(16);
    }
}

// outline
$elem: "outline";
.#{$elem} {
    width: 100%;

    th,
    td {
        font-size: sz(14);
        padding-top: sz(4);
        padding-bottom: sz(4);
        vertical-align: middle;

        &.avator-icon-box-container {
            padding-top: 0;

            > *:nth-child(1) {
                .avator-icon-box {
                    margin-top: 0;
                }
            }
        }
    }

    th {
        padding-top: sz(4);
        padding-right: sz(8);
        padding-bottom: sz(4);
        font-weight: normal;
        text-align: right;
        line-height: 120%;
        width: 1%;
        white-space: nowrap;
        font-size: sz(12);
    }

    .separate-after {
        th,
        td {
            border-bottom: solid sz(1) $color_border_gray;
            padding-bottom: sz(24);
        }

        & + tr {
            th,
            td {
                padding-top: sz(16);
            }
        }
    }
}

// note
$elem: "note";
.#{$elem} {
    font-size: sz(12);
    line-height: 150%;
    color: $color_text_gray;
    font-weight: normal;
}

// column-box
$elem: "column-box";
.#{$elem} {
    display: flex;

    > * {
        width: 100%;

        &:nth-child(1) {
            padding-right: sz(16);
            flex: 0;

            @media screen and (max-width: $bp_540) {
                padding-right: sz(8);
            }
        }

        &:nth-child(3) {
            padding-left: sz(16);
            flex: 0;
            align-self: center;
        }

        section,
        .section {
            margin-top: sz(16);
            padding-top: sz(16);
            border-top: solid sz(1) $color_border_gray;

            &:first-child {
                margin-top: 0;
                padding-top: 0;
                border-top: none;
            }
        }
    }

    &.contentfit {
        display: flex;
        flex-shrink: 0;
        width: auto;
        flex-wrap: wrap;

        .outline {
            margin-top: sz(4);
        }

        > * {
            width: auto;
            display: inline;
            flex-shrink: 0;

            .avator-icon-box {
                margin-top: 0;
            }

            td {
                padding-bottom: 0;
            }
        }
    }

    &.noavator {
        align-items: center;

        > * {
            flex: auto;
        }
    }

    .buttononly {
        flex: 1;
    }

    &:nth-child(n + 2) {
        padding-top: sz(16);
        border-top: solid sz(1) $color_border_gray;
        margin-left: sz(112);
        margin-top: sz(16);

        @media screen and (max-width: $bp_540) {
            margin-left: 0;
        }
    }
}

// form-list
$elem: "formlist";
.#{$elem} {
    margin-top: sz(16);
    display: table;
    width: 100%;
    border: solid 1px $color_light_gray;
    border-radius: sz(8);

    @media screen and (max-width: $bp_540) {
        display: block;
    }

    &-line {
        display: table-row;

        @media screen and (max-width: $bp_540) {
            display: block;
        }

        > * {
            display: table-cell;
            border-top: solid 1px $color_light_gray;
            vertical-align: middle;

            @media screen and (max-width: $bp_540) {
                display: block;
            }
        }

        &:nth-child(1) {
            > * {
                border-top: none;
            }
        }

        &-side {
            padding: sz(16);
            white-space: nowrap;
            width: 1%;

            @media screen and (max-width: $bp_540) {
                white-space: normal;
                width: auto;
                padding: sz(4) sz(12);
                background-color: $color_light_gray;
            }

            &.blank {
                @media screen and (max-width: $bp_540) {
                    padding: sz(0);
                    height: sz(1);
                }
            }
        }

        &-main {
            padding: sz(16) sz(16) sz(16) 0;

            @media screen and (max-width: $bp_540) {
                display: block;
                padding: sz(16);
                border: none;
            }
        }
    }

    .button-contaier {
        @media screen and (max-width: $bp_540) {
            text-align: center;
            flex-wrap: wrap;
            justify-content: space-around;

            > * {
                margin-top: sz(16);
                width: calc(50% - #{sz(8)});
                justify-content: center;
            }
        }
    }
}

// input-column
$elem: "input-column";
.#{$elem} {
    display: flex;
    margin-top: sz(16);

    @media screen and (max-width: $bp_600) {
        flex-direction: column;
    }

    &:nth-child(1) {
        margin-top: 0;
    }

    > * {
        margin-left: sz(24);

        label[for] {
            padding-bottom: sz(4);
        }

        .note {
            margin-top: sz(4);
        }

        &:nth-child(1) {
            margin-left: 0;
        }
    }

    &.inner {
        padding: 0 sz(16) sz(16) sz(16);
        border-radius: sz(4);
        border: solid sz(1) $color_border_gray;

        > * {
            margin-top: sz(16);
        }

        &.confirm {
            margin-top: sz(4);

            > * {
                border-left: solid sz(1) $color_border_gray;
                margin-left: sz(16);
                padding-left: sz(16);

                @media screen and (max-width: $bp_600) {
                    border-top: solid sz(1) $color_border_gray;
                    border-left: none;
                    margin-left: 0;
                    padding-top: sz(16);
                    padding-left: 0;
                }

                .note {
                    margin-top: sz(4);
                }

                &:nth-child(1) {
                    border-top: none;
                    border-left: none;
                    margin-left: 0;
                    padding-top: 0;
                    padding-left: 0;
                }
            }
        }
    }
}

// inputset
$elem: "inputset";
.#{$elem} {
    position: relative;

    @media screen and (max-width: $bp_600) {
        margin-left: 0;
    }

    label {
        display: inline-block;
    }

    select + .button {
        margin-left: sz(8);

        @media screen and (max-width: $bp_540) {
            padding: 0 sz(12);
        }
    }

    &.wfull {
        width: 100%;
    }
}

// with-notes
$elem: "with-notes";
.#{$elem} {
    .notes {
        display: block;
        margin-top: sz(8);
        font-size: sz(12);
        line-height: 135%;
    }
}

// icon-select
$elem: "icon-select";
.#{$elem} {
    width: sz(160);
    height: sz(160);
    border-radius: 50%;
    border: none;
    background-color: $color_light_gray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    span {
        display: block;
        margin-bottom: sz(8);
        font-size: sz(32);
    }
}

// reply
$elem: "reply";
.#{$elem} {
    &-header {
        width: 100%;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: $bp_540) {
            display: block;
        }

        &-right {
            padding-left: sz(16);

            @media screen and (max-width: $bp_540) {
                padding-left: 0;
            }
        }

        &-date {
            white-space: nowrap;

            @media screen and (max-width: $bp_540) {
                font-size: sz(12);
            }
        }
    }

    &-body {
        padding: sz(16) 0;
    }

    &-comment {
        margin-top: sz(16);
        padding: sz(16);
        background-color: $color_light_gray;

        textarea {
            width: 100%;
            margin-top: sz(8);
            margin-bottom: sz(8);
        }

        .button-contaier {
            @media screen and (max-width: $bp_540) {
                text-align: center;
                flex-wrap: wrap;
                justify-content: space-around;

                > * {
                    margin-left: 0;
                    margin-top: sz(8);
                    width: 60%;
                    justify-content: center;

                    &:nth-child(1) {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

.have-menu {
    position: relative;

    nav {
        position: absolute;
        right: 0;
        border-radius: sz(4);
        box-shadow: 0 sz(4) sz(8) rgba(0, 0, 0, 0.15);
        z-index: 1;
        display: none;

        & > ul {
            background-color: $color_white;

            & > li {
                &:nth-child(n + 2) {
                    border-top: solid sz(1) $color_border_gray;
                }

                &.noborder {
                    border: none;
                }

                & > * {
                    display: block;
                    padding: 0 sz(16);
                    line-height: sz(44);
                    height: sz(44);
                    white-space: nowrap;
                    text-decoration: none;
                    color: $color_black;

                    &.type--delete {
                        color: $color_red;
                    }
                }
            }
        }
    }
}

#control-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;

    &.show {
        max-height: 90px;
        border: solid sz(1) $color_border_gray;
    }
}

// lecture
$elem: "lecture";
.#{$elem} {
    &-list {
        & > ul {
            & > li {
                margin-top: sz(8);

                &:first-child {
                    margin-top: 0;
                }

                & > button,
                & > .lecture-list-heading {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                    height: sz(44);
                    line-height: sz(44);
                    font-size: sz(16);
                    padding: 0 sz(8) 0 sz(16);
                    border: none;
                    background-color: $color_light_gray;

                    .material-symbols-outlined {
                        margin-top: sz(14);
                    }
                }

                & > ul {
                    & > li {
                        & > * {
                            display: flex;
                            width: 100%;
                            justify-content: space-between;
                            align-items: center;
                            text-decoration: none;
                            color: $color_black;
                            padding: sz(12) 0 sz(12) sz(16);
                            border-top: solid sz(1) $color_border_gray;

                            & > div {
                                display: flex;
                                align-items: center;
                                line-height: 135%;

                                &:nth-child(1) {
                                    padding-right: sz(8);
                                }
                            }
                        }

                        &:nth-child(1) {
                            & > * {
                                border: none;
                            }
                        }
                    }
                }
            }
        }

        .time {
            font-size: sz(12);
            display: block;
            color: $color_text_gray;
        }

        .texticon {
            white-space: nowrap;
        }

        &.mode--sort {
            & > ul {
                & > li {
                    & > button {
                        justify-content: flex-start;
                        padding-left: sz(12);

                        & > *:nth-child(1) {
                            padding-right: sz(8);
                        }
                    }

                    & > ul {
                        & > li {
                            & > * {
                                justify-content: flex-start;
                                padding-left: sz(12);

                                & > *:nth-child(1) {
                                    padding-right: sz(8);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// tag
$elem: "tag";
.#{$elem} {
    &-list {
        table {
            width: 100%;
            border-collapse: collapse;
            border: solid sz(1) $color_border_gray;

            th,
            td {
                font-size: sz(12);
                line-height: 135%;
                padding: sz(8) sz(16);
                border-top: solid sz(1) $color_light_gray;
                text-align: center;

                @media screen and (max-width: $bp_540) {
                    padding: sz(8) sz(4);
                }

                &:nth-child(2) {
                    text-align: left;
                }

                &:nth-child(1),
                &:nth-child(n + 3) {
                    white-space: nowrap;
                    width: 1%;
                }
            }

            tr:nth-child(1) {
                th,
                td {
                    border-top: solid sz(1) $color_border_gray;
                }
            }

            th {
                font-size: sz(11);
                line-height: 135%;
                font-weight: normal;
                white-space: nowrap;
                background-color: $color_light_gray;
            }

            td {
                &:nth-child(2) {
                    font-size: sz(14);
                    line-height: 135%;
                }
            }

            .gojuon {
                th,
                td {
                    background-color: $color_light_gray;
                    border-top: solid sz(1) $color_border_gray;
                }
            }

            .button {
                @media screen and (max-width: $bp_540) {
                    padding: 0;
                    width: sz(44);
                    justify-content: center;

                    .material-symbols-outlined {
                        margin: 0;
                    }
                }
            }
        }
    }
}

// movie
$elem: "movie";
.#{$elem} {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    margin-top: 1em;

    &:nth-child(1) {
        margin-top: 0;
    }

    iframe {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

// permission-table
$elem: "permission-table";
.#{$elem} {
    width: 100%;
    border-collapse: collapse;
    border: solid sz(1) $color_border_gray;
    margin-top: sz(16);

    th,
    td {
        padding: sz(8) sz(8);
        border-left: dotted sz(1) $color_border_gray;
        border-top: solid sz(1) $color_border_gray;
        vertical-align: middle;
        position: relative;

        @media screen and (max-width: $bp_540) {
            font-size: sz(12);
            line-height: 135%;
        }

        &:first-child {
            border-left: none;
        }
    }

    th {
        text-align: right;
        font-weight: normal;
        white-space: nowrap;
        width: 25%;
    }

    td {
        text-align: center;
        font-weight: normal;
        width: 25%;
    }

    tr:nth-child(1),
    tr:nth-child(2) {
        th,
        td {
            border-top: none;
            padding-top: 0;
        }
    }

    tr:nth-child(1) {
        th,
        td {
            padding-top: sz(8);
        }
    }

    .check,
    .close {
        font-size: sz(32);
    }

    .check {
        color: $color_green;
    }

    .close {
        color: $color_red;
    }

    .attention {
        position: absolute;
        bottom: sz(4);
        right: sz(4);
    }

    &-note {
        margin-top: sz(16);
        font-size: sz(14);
        line-height: 135%;

        @media screen and (max-width: $bp_540) {
            font-size: sz(12);
            line-height: 135%;
        }

        li {
            margin-top: 0.5em;

            &:nth-child(1) {
                margin-top: 0;
            }
        }
    }

    caption {
        text-align: left;
        background-color: $color_light_gray;
        border: solid sz(1) $color_border_gray;
        border-bottom: none;
        padding: sz(8) sz(16);

        @media screen and (max-width: $bp_540) {
            font-size: sz(12);
            line-height: 135%;
        }
    }
}

// permission-table
$elem: "account-buttons";
.#{$elem} {
    @media screen and (max-width: $bp_540) {
        display: block;

        > *:nth-child(2) {
            margin-left: 0;
            margin-top: sz(8);
        }
    }
}

// infomassage
$elem: "infomessage";
.#{$elem} {
    display: block;
    margin-top: sz(16);
    margin-right: sz(16);
    margin-left: sz(16);
    border: solid sz(4) $color_border_gray;
    background-color: $color_white;
    border-radius: sz(4);
    padding: sz(16);

    &.type--success {
        border-color: $color_blue;
    }

    &.type--error {
        border-color: $color_red;
    }

    > *:nth-child(n + 2) {
        margin-left: 0;
        margin-top: sz(8);
    }
}

// tag-check-box
$elem: "tag-check-box";
.#{$elem} {
    margin-top: -16px;

    label {
        margin-right: sz(16);
        margin-top: sz(16);
    }
}

// login-content
$elem: "login-content";
.#{$elem} {
    padding-top: sz(80);
    padding-bottom: sz(128);
    margin-right: auto;
    margin-left: auto;
    max-width: sz(640);

    &-inner {
        max-width: sz(314);
        margin-right: auto;
        margin-left: auto;
        text-align: center;

        @media screen and (max-width: $bp_540) {
            max-width: sz(256);
        }

        form > * {
            margin-top: sz(16);
            text-align: left;
        }
    }
}

$elem: "text";
.#{$elem} {
    display: inline-block;

    &.block {
        display: block;
    }

    &.note {
        color: $color_blue;
    }

    &.mode {
        &-button {
            line-height: 44px;

            &:nth-child(n + 2) {
                margin-left: 16px;
            }
        }
    }

    &.width {
        &-full {
            width: 100%;
        }
    }

    &.size {
        &-large {
            font-size: 24px !important;
            line-height: 24px !important;

            &.fitline {
                line-height: 24px !important;
            }
        }

        &-default {
            font-size: 16px !important;
            line-height: 135% !important;
        }

        &-small {
            font-size: 14px !important;
            line-height: 135% !important;
        }

        &-mini {
            font-size: 12px !important;
            line-height: 135% !important;
        }
    }
}
$elem: "namebox";
.#{$elem} {
    display: flex;
    align-items: center;

    .avator {
        margin-right: 8px;

        &.size {
            &-middle {
                margin-right: 8px;
                line-height: 16px;
            }

            &-small {
                margin-right: 4px;
                line-height: 14px;
            }

            &-mini {
                margin-right: 4px;
                line-height: 12px;
            }
        }
    }
}
$elem: "avator";
.#{$elem} {
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &.size {
        &-large {
            width: 80px;
            height: 80px;
        }

        &-middle {
            width: 24px;
            height: 24px;
        }

        &-small {
            width: 20px;
            height: 20px;
        }

        &-mini {
            width: 16px;
            height: 16px;
        }
    }
}
$elem: "button";
span.#{$elem} {
    background-color: $color_blue;
    border: solid 1px $color_blue;
    color: $color_white;
    text-decoration: none;
    padding: 0 16px;
    border-radius: 8px;
    display: inline-block;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    vertical-align: middle;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.1s;

    > * {
        display: inline-block;
    }

    .material-symbols-outlined {
        font-size: 24px;
        margin: 0 -7px;
    }

    .material-symbols-outlined + * {
        padding-left: 12px;
    }

    * + .material-symbols-outlined {
        padding-left: 12px;
    }

    &-primary {
        background-color: $color_blue;
        border: solid 1px $color_blue;
        color: $color_white;

        &:active {
            background-color: rgba($color_blue, 0.75);
        }
    }

    &-secondary {
        background-color: $color_white;
        border: solid 1px $color_blue;
        color: $color_text;

        &:active {
            background-color: rgba($color_blue, 0.1);
        }
    }

    &-thirdly {
        background-color: transparent;
        border: solid 1px transparent;
        color: $color_text;
        padding-left: 0;
        padding-right: 0;
    }

    &-like {
        background-color: $color_base;
        border: solid 1px $color_blue;
        color: $color_text;
    }

    &.width {
        &-full {
            width: 100%;
        }
    }

    &.height {
        &-auto {
            height: auto;
            line-height: 1em;
            padding-top: 12px;
            padding-bottom: 12px;

            > * {
                height: auto;
            }
        }
    }

    &.type {
        &-square {
            width: 112px;
            height: auto;
            display: inline-block;
            padding: 0;
            position: relative;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

            &::before {
                content: "";
                display: block;
                padding-top: 100%;
            }

            .content {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: inline-flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                > * {
                    padding: 0;
                    line-height: 16px;
                }

                .material-symbols-outlined {
                    font-size: 48px;
                    line-height: 48px;
                    margin: -12px 0 8px 0;
                }
            }
        }

        &-alert {
            .material-symbols-outlined {
                color: $color_alert;
            }

            .text {
                color: $color_alert;
            }
        }
    }
}

// pagenation
$elem: "pagenation";
.#{$elem} {
    margin-top: sz(20);

    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        & > li {
            padding: sz(4) sz(2) 0 sz(2);

            & > * {
                display: block;
                width: sz(44);
                height: sz(44);
                line-height: sz(42);
                text-align: center;
                border: solid 1px;
                text-decoration: none;
                border-color: transparent;
                color: $color_text_gray;
                border-radius: sz(2);

                @media screen and (max-width: $bp_540) {
                    width: sz(36);
                    height: sz(36);
                    line-height: sz(34);
                }
            }

            & > a {
                background-color: $color_white;
                border-color: $color_blue;
                color: $color_blue;
            }

            &.round-start {
                & > * {
                    border-radius: sz(22) 0 0 sz(22);
                }
            }

            &.round-end {
                & > * {
                    border-radius: 0 sz(22) sz(22) 0;
                }
            }

            &.pager {
                & > * {
                    width: auto;
                    padding-right: sz(12);
                    padding-left: sz(12);
                }
            }
        }
    }
}

// footer
$elem: "footer";
#{$elem} {
    padding: sz(16);
    text-align: center;
}

/* auth register */
.reg-fax {
    display: none;
}
#stripe-div {
    display: none;
}
#stripe-div .formlist-line-main .input-column {
    display: block;
}
.formlist-last {
    border-top: solid 1px rgb(236, 240, 243);
    padding-top: 20px;
}
.g-recaptcha > div,
.input-column div.button-container {
    margin: 0 auto;
}

/* Stripe */
#card-number-element, #card-expiry-element, #card-cvc-element {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    transition: box-shadow 150ms ease;
}
#card-expiry-element, #card-cvc-element {
    width: 48%;
    font-size: 15px;
}
#card-number-element {
    margin-bottom: 15px;
}
#card-number-element:focus, #card-expiry-element:focus, #card-cvc-element:focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}
.StripeElement--invalid {
    border-color: #fa755a;
}
.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}
.form-row {
    display: flex;
    justify-content: space-between;
}
.form-row .col {
    flex: 1;
}
div#stripe-div.disp-card {
    display: table-row;
}
@media screen and (max-width: 540px){
    div#stripe-div.disp-card {
        display: block;
    }
}
