@charset "UTF-8";
@import url(//fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap);
@import url(//fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  padding: 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  html {
    font-size: 100%;
  }
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #4d534d;
  color: #4d534d;
  padding: 0;
  margin: 0;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 160%;
}

button {
  font-family: "Noto Sans JP", sans-serif;
}

input[type=text],
input[type=number],
input[type=date],
input[type=password],
select,
textarea {
  font-size: 16px;
  border-radius: 4px;
  border: solid 1px #c3c8c8;
  max-width: 100%;
}

input[type=text].digits-2,
input[type=number].digits-2,
input[type=date].digits-2,
input[type=password].digits-2,
select.digits-2,
textarea.digits-2 {
  width: 4em;
}

input[type=text],
input[type=number],
input[type=date],
input[type=password],
select {
  height: 44px;
  line-height: 44px;
  padding: 0 8px;
}

input[type=text].wfull,
input[type=number].wfull,
input[type=date].wfull,
input[type=password].wfull,
select.wfull {
  width: 100%;
}

textarea {
  padding: 8px;
  width: 100%;
}

@media screen and (max-width: 540px) {
  textarea {
    width: 100%;
  }
}
video {
  width: 100%;
}
video:not(:first-of-type) {
  margin-top: 16px;
}

img.wfull {
  width: 100%;
}

.break-word {
  word-break: break-word;
}

.ta-left {
  text-align: left;
}
.ta-right {
  text-align: right;
}

.pt-0 {
  padding-top: 0 !important;
}

.ma-0 {
  margin: 0 !important;
}

.mt-8 {
  margin-top: 8px !important;
}
.mt-16 {
  margin-top: 16px !important;
}
.mt-24 {
  margin-top: 24px !important;
}

.mr-8 {
  margin-right: 8px !important;
}
.mr-16 {
  margin-right: 16px !important;
}
.mr-24 {
  margin-right: 24px !important;
}

.ml-8 {
  margin-left: 8px !important;
}
.ml-16 {
  margin-left: 16px !important;
}
.ml-24 {
  margin-left: 24px !important;
}

.bg-white {
  background-color: #ffffff;
}

.mode-horizontal .inputset {
  width: min-content;
  max-width: 100%;
}

.inputset > *:nth-child(n+2) {
  margin-top: 4px;
}

.hd-1 {
  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.hd-2 {
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  margin: 24px 0 0 0;
  padding: 0;
}

.site-header {
  display: flex;
  background-color: #ffffff;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  box-shadow: 0 2px 8px #879f7f;
}
.site-header-right {
  padding-right: 8px;
}
.site-header-title {
  text-decoration: none;
  color: #4d534d;
}
.site-body {
  padding-top: 106px;
  background-color: #f0f0f0;
}
#home .site-body {
  padding-top: 62px;
}

.site-body-wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 24px 16px 48px 16px;
}
.site-body-wrapper .drawer-menu-logout {
  margin-top: 48px;
  text-align: center;
}
.imagebg + .site-body-wrapper {
  padding-top: 0;
}
.site-body .listmenu ul {
  display: flex;
  flex-wrap: wrap;
}
.site-body .listmenu li {
  width: calc(50% - 4px);
}
@media screen and (max-width: 540px) {
  .site-body .listmenu li {
    width: 100%;
  }
}
.site-footer {
  text-align: center;
  padding: 24px 16px;
  background-color: #4d534d;
  color: #ffffff;
}

#drawer-content {
  width: 100%;
  max-width: 375px;
}
#drawer-content .drawer-menu {
  padding-top: 60px;
  padding-bottom: 20px;
  background-color: #f0f0f0;
}
#drawer-content .drawer-menu-header-bg {
  background-size: cover;
  background-position: center;
}
#drawer-content .drawer-menu-header-bg-gra {
  padding: 48px 16px 24px 16px;
  background: rgb(240, 240, 240);
  background: linear-gradient(0deg, rgb(240, 240, 240) 0%, rgba(245, 246, 248, 0) 100%);
}
#drawer-content .drawer-menu-content {
  padding: 0 16px 16px 16px;
}
#drawer-content .drawer-menu-logout {
  padding: 16px;
  text-align: center;
}

.drawer--right .drawer-nav {
  right: -375px;
}

.drawer--right.drawer-open .drawer-hamburger {
  right: 0;
}

.imagebg {
  width: 100%;
  background-size: cover;
  background-position: center;
}
.imagebg-gra {
  padding: 48px 0 48px 0;
  margin-bottom: -24px;
  background: rgb(240, 240, 240);
  background: linear-gradient(0deg, rgb(240, 240, 240) 0%, rgba(245, 246, 248, 0) 100%);
}
.imagebg-gra-content {
  max-width: 960px;
  margin: 0 auto;
}
.imagebg .hd-1 {
  display: inline-block;
  padding: 12px 16px;
  margin: 0;
  background-color: #0a8713;
  color: #ffffff;
}
.imagebg .listcontrol {
  margin: 0;
  align-items: flex-end;
  padding: 0 16px;
}
.imagebg .listcontrol p {
  display: inline-block;
  margin: 0;
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0.85);
}

.listmenu > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.listmenu > ul > li {
  margin-top: 8px;
}
.listmenu > ul > li .button .text {
  flex-grow: 1;
  text-align: left;
}

.listbuttons {
  display: flex;
  width: 100%;
}
.listbuttons > .element {
  width: 33.3%;
  cursor: pointer;
  font-size: 12px;
}
.listbuttons > .element.left {
  text-align: left;
}
.listbuttons > .element.right {
  text-align: right;
}
.listbuttons > .element a {
  font-size: 14px;
}
.listbuttons > .element span {
  font-size: 14px;
}
.listbuttons > .btn-complete {
  text-align: center;
}

.button {
  background-color: #0a8713;
  border: solid 1px #0a8713;
  color: #ffffff;
  text-decoration: none;
  padding: 0 16px;
  border-radius: 8px;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  vertical-align: middle;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.1s;
}
.button > * {
  display: inline-block;
}
.button .material-symbols-outlined {
  font-size: 24px;
  margin: 0 -7px;
}
.button .material-symbols-outlined + * {
  padding-left: 12px;
}
.button * + .material-symbols-outlined {
  padding-left: 12px;
}
.button-primary {
  background-color: #0a8713;
  border: solid 1px #0a8713;
  color: #ffffff;
}
.button-primary:active {
  background-color: rgba(10, 135, 19, 0.75);
}
.button-secondary {
  background-color: #ffffff;
  border: solid 1px #0a8713;
  color: #4d534d;
}
.button-secondary:active, .button-secondary:hover {
  background-color: rgba(10, 135, 19, 0.1);
}
.button-thirdly {
  background-color: transparent;
  border: solid 1px transparent;
  color: #4d534d;
  padding-left: 0;
  padding-right: 0;
}
.button-like {
  background-color: #f0f0f0;
  border: solid 1px #e2e7df;
  color: #4d534d;
}
.button-small {
  margin-top: 10px;
  font-size: 14px;
  margin-left: 15px;
  padding: 0 12px;
  height: 36px;
}
.button-previous:before {
  content: "◀";
  margin-right: 2px;
}
.button-next:after {
  content: "▶";
  margin-left: 2px;
}
.button.width-full {
  width: 100%;
}
.button.height-auto {
  height: auto;
  line-height: 1em;
  padding-top: 12px;
  padding-bottom: 12px;
}
.button.height-auto > * {
  height: auto;
}
.button.type-square {
  width: 112px;
  height: auto;
  display: inline-block;
  padding: 0;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.button.type-square::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.button.type-square .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button.type-square .content > * {
  padding: 0;
  line-height: 16px;
}
.button.type-square .content .material-symbols-outlined {
  font-size: 48px;
  line-height: 48px;
  margin: -12px 0 8px 0;
}
.button.type-alert .material-symbols-outlined {
  color: #c9374a;
}
.button.type-alert .text {
  color: #c9374a;
}

.listcontrol {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 960px;
  margin-top: 24px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.listcontrol-left {
  display: flex;
}
.listcontrol-left > *:nth-child(n+2) {
  position: relative;
  margin-left: 8px;
}
.listcontrol.fit-bottom {
  align-items: flex-end;
}

.filterlist {
  background-color: #ffffff;
  padding: 0px 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 16px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
}
@media screen and (max-width: 540px) {
  .filterlist {
    width: 100%;
    max-width: calc(85% - 32px);
  }
}
.filterlist.show {
  padding: 16px;
  max-height: 1000px;
}
.filterlist > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.filterlist > ul > li > label {
  display: block;
  line-height: 44px;
}
.filterlist hr {
  margin-top: 16px;
}

.buttonlist {
  padding: 0;
  list-style-type: none;
}
.buttonlist .button {
  width: 100%;
  border-radius: 0;
  gap: 8px;
  height: auto;
  line-height: 148%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.buttonlist .button .label-icon {
  display: flex;
  align-items: center;
}
.buttonlist .button .label-icon > * {
  vertical-align: middle;
  margin-left: 4px;
}
.buttonlist > li:nth-child(n+2) .button {
  border-top: none;
}
.buttonlist .text {
  flex-grow: 1;
}
.buttonlist .text .texticon {
  vertical-align: middle;
  margin-right: 8px;
  margin-top: -4px;
}
.buttonlist-sort > li {
  display: flex;
  background-color: #ffffff;
  border: solid 1px #e2e7df;
  padding: 8px 8px 8px 16px;
  align-items: center;
}
.buttonlist-sort > li .button {
  width: auto;
  border-radius: 8px;
  margin-left: 8px;
}

.backwards {
  position: fixed;
  top: 60px;
  width: 100%;
  padding: 0 16px;
  height: 44px;
  background-color: #0a8713;
  z-index: 1;
  box-shadow: 0 2px 8px #879f7f;
}
.backwards .button {
  color: #ffffff;
}

.texticon {
  display: inline-block;
  border: solid 1px #879f7f;
  border-radius: 2px;
  font-size: 12px;
  line-height: 135%;
  padding: 1px 8px;
  white-space: nowrap;
}
.texticon.type-done {
  border-color: #0a8713;
  background-color: #0a8713;
  color: #ffffff;
}
.texticon.type-notice {
  border-color: #e88c31;
  background-color: #e88c31;
  color: #ffffff;
}
.texticon.type-alert {
  border-color: #c9374a;
  background-color: #c9374a;
  color: #ffffff;
}
.texticon.type-require {
  border-color: #c9374a;
  background-color: #ffffff;
  color: #c9374a;
}
.texticon.type-new {
  border-color: #c9374a;
  background-color: #c9374a;
  color: #ffffff;
}
.texticon.type-not-yet {
  border-color: #4285f4;
  background-color: #4285f4;
  color: #ffffff;
}

.avator {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.avator.size-large {
  width: 80px;
  height: 80px;
}
.avator.size-middle {
  width: 24px;
  height: 24px;
}
.avator.size-small {
  width: 20px;
  height: 20px;
}
.avator.size-mini {
  width: 16px;
  height: 16px;
}

.textset > *:nth-child(n+2) {
  margin-top: 4px;
}

.text {
  display: inline-block;
}
.text.block {
  display: block;
}
.text.note {
  color: #879f7f;
}
.text.mode-button {
  line-height: 44px;
}
.text.mode-button:nth-child(n+2) {
  margin-left: 16px;
}
.text.width-full {
  width: 100%;
}
.text.size-large {
  font-size: 24px !important;
  line-height: 24px !important;
}
.text.size-large.fitline {
  line-height: 24px !important;
}
.text.size-default {
  font-size: 16px !important;
  line-height: 135% !important;
}
.text.size-small {
  font-size: 14px !important;
  line-height: 135% !important;
}
.text.size-mini {
  font-size: 12px !important;
  line-height: 135% !important;
}

.weight-normal {
  font-weight: normal !important;
}
.weight-bold {
  font-weight: bold !important;
}

.namebox {
  display: flex;
  align-items: center;
}
.namebox .avator {
  margin-right: 8px;
}
.namebox .avator.size-middle {
  margin-right: 8px;
  line-height: 16px;
}
.namebox .avator.size-small {
  margin-right: 4px;
  line-height: 14px;
}
.namebox .avator.size-mini {
  margin-right: 4px;
  line-height: 12px;
}

.outline {
  display: flex;
  background-color: #f0f0f0;
  padding: 8px;
  border-radius: 4px;
}
.outline.in-content {
  padding: 16px;
}
.outline-header {
  margin-right: 8px;
}
.outline .note {
  color: #4d534d;
}
.outline-joint {
  margin-top: -8px !important;
}

.teacherlist {
  display: block;
}
.teacherlist > * {
  display: flex;
}
.teacherlist .namebox {
  margin-right: 16px;
  line-height: 12px;
}
.teacherlist-sub .namebox {
  margin-top: 4px;
}

.tagbox {
  display: flex;
  margin-top: -4px;
  flex-wrap: wrap;
}
.tagbox > * {
  margin-top: 4px;
  margin-right: 4px;
}
.tagbox > *:last-child {
  margin-right: 0;
}

.tag {
  background-color: #ffffff;
  border: solid 1px #e2e7df;
  color: #4d534d;
  text-decoration: none;
  border-radius: 40px;
  font-size: 12px;
  line-height: 135%;
  padding: 2px 8px;
  vertical-align: middle;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.tag > *:last-child {
  margin-left: 4px;
}
.tag .material-symbols-outlined {
  font-size: 16px;
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding: 0;
}

a.tag {
  border-color: #0a8713;
}
a.tag:active {
  background-color: rgba(135, 159, 127, 0.1);
}

.card {
  display: flex;
  align-items: center;
  border: solid 1px #0a8713;
  border-radius: 8px;
  margin-top: 16px;
  padding: 16px 0 16px 16px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: #4d534d;
  transition: all 0.1s;
}
.card:active:not(.no-action) {
  background-color: rgba(10, 135, 19, 0.1);
}
.card:first-child {
  margin-top: 0;
}
.listcontrol + .card {
  margin-top: 24px;
}

.card-content {
  flex-grow: 1;
}
.card-content > *:nth-child(n+2) {
  margin-top: 8px;
}
.card-header, .card-footer {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 135%;
}
.card-header > *:nth-child(n+2), .card-footer > *:nth-child(n+2) {
  margin-left: 8px;
}
.card-name {
  display: block;
  line-height: 135%;
}
.card .image {
  display: block;
  font-size: 0;
  line-height: 0;
}
.card .image img {
  width: 100%;
}
.card .description-arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-arrow {
  padding-left: 4px;
}
.card-arrow .material-symbols-outlined {
  font-size: 44px;
  color: #0a8713;
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding: 0;
}
.card.card-movie {
  padding-right: 16px;
}

.socialdisplay {
  display: inline-flex;
  align-items: center;
}
.socialdisplay > * {
  vertical-align: middle;
}
.socialdisplay .material-symbols-outlined {
  font-size: 16px;
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 4px;
}

.main-navigation {
  width: 343px;
  margin-right: auto;
  margin-left: auto;
}
.main-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 343px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.main-navigation ul li {
  width: calc(33.33% - 4px);
}
.main-navigation ul li .button {
  width: 100%;
}
.main-navigation ul li:nth-child(4) {
  width: 100%;
  text-align: center;
  margin-top: 8px;
}
.main-navigation ul li:nth-child(4) .button {
  width: calc(33.33% - 4px);
}

.welcome {
  text-align: center;
}
.welcome > *:nth-child(n+2) {
  margin-top: 8px;
}
.welcome-avator {
  height: 80px;
}
.welcome-message, .welcome-name {
  line-height: 16px;
}
.welcome-message > .text, .welcome-name > .text {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px 16px;
  border-radius: 99px;
  color: #ffffff;
}

.detail {
  margin-top: 16px;
  border: solid 1px #e2e7df;
  background-color: #ffffff;
}
.detail:first-child {
  margin-top: 0;
}
.detail-content {
  padding: 16px 0;
}
.detail-content:first-child {
  padding-top: 0;
}
.detail-content-header {
  border-left: solid 8px #0a8713;
  padding-left: 8px;
}
.detail-content-body {
  padding: 0 16px;
}
.detail-content-body-item {
  margin-top: 16px;
  gap: 16px;
}
.detail-content-body-item.mode-horizontal {
  display: flex;
  flex-wrap: wrap;
}
.detail-content.noedit {
  background-color: #f0f0f0;
}
.detail hr {
  margin: 0 16px;
  border: none;
  border-top: 1px solid #e2e7df;
}
.detail.reply {
  border: none;
  padding-left: 16px;
  margin-top: 0;
}
.detail.reply .detail-content {
  border-top: 1px solid #e2e7df;
}

.editcase {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  position: relative;
}
.editcase .type-new {
  position: absolute;
  top: -26px;
  left: -16px;
}
.editcase-right > * {
  vertical-align: text-top;
}

.edit-footer {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.edit-footer > * {
  display: flex;
}
.edit-footer > * > *:nth-child(n+2) {
  margin-left: 8px;
}

.movie {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin-top: 1em;
}
.movie:nth-child(1) {
  margin-top: 0;
}
.movie .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 15px 18px 15px 20px;
  font-size: 18px;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
}
.movie .play-button.show {
  z-index: 11;
  opacity: 1;
}
.movie .stop-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 15px 18px 15px 20px;
  font-size: 18px;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
}
.movie .stop-button.show {
  z-index: 11;
  opacity: 1;
}
.movie .speed-control {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.movie .speed-control label {
  font-size: 12px;
  color: white;
}
.movie .speed-control select#speedControl {
  width: 60px;
  height: unset;
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
}
.movie .speed-control select#speedControl:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.movie iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.post-header > *:nth-child(n+2) {
  margin-top: 8px;
}

.textcontent {
  padding: 0 16px;
}
.textcontent > * {
  margin: 0;
}
.textcontent > *:nth-child(n+2) {
  margin-top: 16px;
}

.comment-input {
  display: block;
  width: 100%;
}
.comment-input > * {
  margin-top: 8px;
}
.comment-input-textarea textarea {
  margin-top: 8px;
}
.comment-input .edit-footer {
  padding: 0;
  margin: 0;
}

.pager {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 16px;
}
.pager > *:first-child {
  margin-left: auto;
}
.pager > *:last-child {
  margin-right: auto;
}
.pager > *:nth-child(n+2) {
  margin-left: 16px;
}

.indexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.indexbox ul {
  display: flex;
  width: 100%;
  margin: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}
.indexbox ul > * {
  width: 100%;
}
.indexbox > * {
  width: calc(50% - 8px);
}
@media screen and (max-width: 960px) {
  .indexbox > * {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .bg-white .indexbox > * {
    width: 100%;
  }
}

.indexbox .column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.indexbox .column > * {
  width: calc(50% - 4px);
}
@media screen and (max-width: 540px) {
  .indexbox .column > * {
    width: 100%;
  }
}
.indexbox .column li {
  width: 100%;
}

.indexheader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.indexheader > * {
  margin: 0 auto;
}

.messagebox {
  padding-bottom: 24px;
}
.messagebox > *:nth-child(n+2) {
  margin-top: 8px;
}

.message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 2px #879f7f;
  padding: 8px;
  border-radius: 4px;
  background-color: #ffffff;
}
.message > *:last-child {
  width: 24px;
}
.message .material-symbols-outlined {
  color: #879f7f;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
.message.type-alert {
  border-color: #c9374a;
  background-color: #fff1f3;
}
.message.type-alert .message-content .material-symbols-outlined {
  color: #c9374a;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
.message.type-success {
  border-color: #0a8713;
  background-color: #eef6ff;
}
.message.type-success .message-content .material-symbols-outlined {
  color: #0a8713;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
.message.type-notice {
  border-color: #e88c31;
  background-color: #fff7ef;
}
.message.type-notice .message-content .material-symbols-outlined {
  color: #e88c31;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
.message-content {
  display: flex;
  align-items: center;
}
.message-content > *:first-child {
  width: 24px;
  margin-right: 8px;
}

.empty {
  margin-top: 24px;
  padding: 24px;
  background-color: #f0f0f0;
  border: solid 1px #e2e7df;
  border-radius: 8px;
}

.mtbox {
  margin-top: 24px;
}

#comments {
  margin-top: 16px;
}

#sortable .jc-init {
  justify-content: initial;
}

.tox-editor-header {
  z-index: 1 !important;
}

.course-category-name {
  margin-bottom: 8px;
}
.course-category-name:not(:first-child) {
  margin-top: 30px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
  border-radius: 10px;
}
.modal .progress {
  width: 100%;
  background: #e0e0e0;
  border-radius: 25px;
  overflow: hidden;
  margin-top: 20px;
  height: 30px;
}
.modal .progress-bar {
  height: 100%;
  background: #76c7c0;
  width: 0%;
  transition: width 0.4s ease;
  border-radius: 25px;
}
.modal #uploadStatus {
  font-size: 1.2em;
  margin-bottom: 10px;
}
.modal .spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-top: 20px;
}

table.stripe-payment-situation {
  text-align: left;
  padding-left: 15px;
}
table.stripe-payment-situation tr td {
  padding-left: 10px;
}

.switch-container {
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.switch-container .switch {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 31px;
}
.switch-container .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e9e9ea;
  transition: 0.4s;
  border-radius: 34px;
}
.switch-container .switch .slider:before {
  position: absolute;
  content: "";
  height: 27px;
  width: 27px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
.switch-container .switch .slider.active {
  background-color: #34c759;
}
.switch-container .switch .slider.active:before {
  transform: translateX(20px);
}
.switch-container .switch .slider.disabled {
  cursor: default;
  opacity: 0.5;
}
.switch-container .switch-text {
  margin-left: 10px;
  font-size: 16px;
  color: #333;
}

.loading-indicator {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-radius: 50%;
  border-top-color: #34c759;
  animation: spin 1s linear infinite;
  margin-left: 5px;
}
.loading-indicator-middle {
  width: 40px;
  height: 40px;
  border: 5px solid #ccc;
  border-top-color: #34c759;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.checkmark-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  position: relative;
}

.checkmark-circle {
  stroke-dasharray: 157;
  stroke-dashoffset: 157;
  animation: drawCircle 1s forwards;
  transform: rotate(90deg);
  transform-origin: center;
}

.checkmark {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: drawCheck 0.5s forwards 1s;
}

@keyframes drawCircle {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes drawCheck {
  to {
    stroke-dashoffset: 0;
  }
}
.video-container {
  position: relative;
}
.video-container:not(:last-of-type) {
  margin-bottom: 30px;
}
.video-container .favorite-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
}
.video-container .favorite-btn .fa-heart {
  font-size: 40px;
  color: #808080;
}
.video-container .favorite-btn .fa-heart.favorited {
  color: #FF2F40;
}

/* Select2 */
.select2-container--default .select2-selection--single .select2-selection__rendered {
  height: 40px;
  line-height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px;
}

.select2-container .select2-selection--single.select2-selection {
  height: 40px;
}

.check-list {
  display: inline-block;
  padding-inline-start: 0;
  padding-inline-end: 0;
  margin-block-start: 0;
}
.check-list li {
  display: inline-block;
  width: 150px;
}

/*# sourceMappingURL=style.css.map */
